.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  height: 50em;
  font-size: 1.4em


}
html, body {
  height: 100%;
}

.startButton {
  background-color: green;
  width: 125px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.updateButton {
  background-color: darkcyan;
  width: 200px;
  height: 70px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header {
  text-align: center;
  margin-right: 110px;
}

.renderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #282c34;
  color: white;
  height: 65em;
}

.one {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 2em;

}

.two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

.three {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

